.footer {
	display: flex;
	flex-shrink: 0;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}
.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.logo {
	color: #ffac00;
	cursor: pointer;
	transition: all 0.2s;
}
.logo:hover {
	transform: perspective(500px) scale(1.06);
	transition: all 0.2s;
}
